@model IEnumerable<E_Shop.ViewModel.ProductViewModel>
@{}
<div class="col-12 text-end">
    <p>
        <a asp-action="Create" asp-controller="Product" class="btn btn-success">Create New</a>
    </p>
</div>
<div class="card">
    <div class="card-header text-uppercase text-white text-center p-0" style="background:#21909F;">
        <p style="font-family: 'Brush Script'; font-size: 20px; padding: 5px;">Requisites Information</p>
    </div>
    <div class="row">
        <div class="card-body table-responsive">
            <table class="table table-sm table-striped table-bordered" id="myTable">
                <thead class="dark-mode">
                    <tr style="background:#21909F;">
                        <th class="text-center" scope="col"> Name</th>
                        <th class="text-center" scope="col"> Price </th>
                        <th class="text-center" scope="col"> Color</th>
                        <th class="text-center" scope="col"> Availale</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                            <td>@Html.DisplayFor(modelItem => item.isAvailable)</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-route-id="@item.ProductId">
                                        <span class="btn btn-sm">
                                            <i class="fa-solid fa-pencil text-success" aria-hidden="true" title="Edit"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a asp-action="Details" asp-route-id="@item.ProductId">
                                        <span class="btn btn-sm ">
                                            <i class="fa-regular fa-eye text-primary" aria-hidden="true" title="Details"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a asp-action="Delete" asp-route-id="@item.ProductId">
                                        <span class="btn btn-sm ">
                                            <i class="fa-solid fa-trash text-danger" aria-hidden="true" title="Delete"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $('#myTable').dataTable();
    </script>
}